html {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 14vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vw;
  margin-bottom: 16vw;
}

h1 {
  font-weight: bold;
  line-height: 9rem;
  font-size: 7.5rem;
  text-align: center;

  color: #000000;

  margin-bottom: 8vw;
}

p {
  font-weight: normal;
  line-height: 5.4rem;
  font-size: 4.5rem;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);

  margin-bottom: 8vw;
}

a {
  display: block;
  width: 40vw;
  height: 8.5vw;

  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
  font-size: 4.5rem;
  text-align: center;
  text-decoration: none;

  color: #FFFFFF;

  background: linear-gradient(180deg, rgba(234, 56, 54, 0.75) 0%, rgba(234, 56, 54, 0.3) 119.05%);
  box-shadow: 0px 6px 12px rgba(234, 56, 54, 0.25);
  border-radius: 2px;

  text-shadow: 0px 0px 8px #EA3836;

  margin: 0 auto;
  padding-top: 3.2vw;
}

.info {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 16vw;
}

.info img {
  display: none;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.advantages h1 {
  display: none;
}

.fast, .reliably, .checked, .easy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 70%;
  height: 85vw;

  margin-bottom: 8vw;
}

.advantages img {
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.advantages h2 {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.advantages p {
  width: 50vw;

  color: rgba(0, 0, 0, 0.5);
}

h2 {
  line-height: 5.4rem;
  font-size: 4.5rem;
  font-weight: bold;
  color: #000000;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #383856;

  padding-bottom: 4vw;
}

.review h1 {
  margin-top: 7vw;
}

.review h1, p {
  color: white;
}

.review h3 {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  line-height: 5.4rem;
  font-size: 4.5rem;
  text-align: left;

  color: #FFFFFF;

  width: 50vw;
  margin-left: 6vw;
  margin-bottom: 12vw;
}

.review-1, .review-2, .review-3 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 70%;
  height: 55vw;

  margin-bottom: 7vw;
}

.quote {
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 3vw;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 5vw;
}

.person img {
  margin-left: 6vw;
  margin-right: 3vw;
}

.price {
  margin-top: 12vw;
}

.price h1 {
  color: black;
}

.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-business, .serious-business {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 70%;
  height: 85vw;

  margin-bottom: 8vw;
}

.small-business, .serious-business h3 {
  font-weight: normal;

  line-height: 5.4rem;
  font-size: 4.5rem;

  color: #000000;
}
