html {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 14vw;
  margin: 3vw 3vw 16vw 3vw;
}

.logo img, .burger-menu img {
  width: 10vw;
}

h1 {
  font-weight: bold;
  line-height: 9rem;
  font-size: 7.5rem;
  text-align: center;

  color: #000000;

  margin-bottom: 7vw;
}

.info p, .advantages p, .review p {
  font-weight: normal;
  line-height: 5.4rem;
  font-size: 4.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8vw;
}

a {
  display: block;
  width: 40vw;
  height: 8.5vw;
  margin: 0 auto;
  padding-top: 3.2vw;

  font-weight: bold;
  line-height: 5.4rem;
  font-size: 4.5rem;
  text-align: center;
  text-decoration: none;

  color: #FFFFFF;

  background: linear-gradient(180deg, rgba(234, 56, 54, 0.75) 0%, rgba(234, 56, 54, 0.3) 119.05%);
  box-shadow: 0px 6px 12px rgba(234, 56, 54, 0.25);
  border-radius: 2px;

  text-shadow: 0px 0px 8px #EA3836;
}

.info {
  margin: 0 3vw 16vw 3vw;
  display: block;
}

.info img {
  display: none;
}

.grid-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.advantages h1 {
  display: none;
}

.fast, .reliably, .checked, .easy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 70%;
  height: 85vw;

  margin-bottom: 8vw;
}

.advantages img {
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.fast img {
  width: 25vw;
}

.reliably img {
  width: 25vw;
}

.checked img {
  width: 25vw;
}

.easy img {
  width: 25vw;
}

.advantages h2 {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.advantages p {
  width: 50vw;

  color: rgba(0, 0, 0, 0.5);
}

h2 {
  line-height: 5.4rem;
  font-size: 4.5rem;
  font-weight: bold;
  color: #000000;
}

.review {
  background-color: #383856;
  padding-top: 2vw;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 4vw;
}

.review h1 {
  margin-top: 7vw;
}

.review h1, .review p {
  color: white;
}

.review h3 {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  line-height: 5.4rem;
  font-size: 4.5rem;
  text-align: left;

  color: #FFFFFF;

  width: 50vw;
  margin-left: 6vw;
  margin-bottom: 12vw;
}

.review-1, .review-2, .review-3 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 70%;
  height: 58vw;

  margin-bottom: 7vw;
}

.quote {
  width: 5vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 3vw;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 5vw;
}

.person img {
  width: 5vw;
  margin-left: 6vw;
  margin-right: 3vw;
}

.price {
  margin-top: 12vw;
}

.price h1 {
  color: black;
}

.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-business, .serious-business {
  display: flex;
  flex-direction: column;
  text-align: left;

  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 70%;
  height: 95vw;

  margin-bottom: 8vw;
}

.small-business h3, .serious-business h3 {
  margin-top: 6vw;
  margin-bottom: 2vw;
  margin-left: 5vw;

  font-weight: normal;

  line-height: 5.4rem;
  font-size: 4.5rem;
  text-align: left;

  color: #000000;
}

.small-business p, .serious-business p {
  margin-left: 5vw;
  margin-bottom: 4vw;

  font-weight: bold;
  line-height: 9.6rem;
  font-size: 8rem;
  text-align: left;

  color: #000000;
}

.small-business button, .serious-business button {
  margin-left: 5vw;
  font-weight: bold;
  line-height: 5.4rem;
  font-size: 4.5rem;

  width: 40%;
  height: 9vw;
  background: #FFAC3E;
  border-radius: 2px;
  border-style: none;
}

.small-business ul, .serious-business ul {
  width: 45vw;
  margin-left: 9vw;
  margin-bottom: 4vw;
}

.small-business li, .serious-business li {
  font-weight: normal;
  line-height: 6rem;
  font-size: 5rem;
  list-style-type: disc;
  color: #FFAC3E;

  padding-bottom: 3vw;
}

span {
  font-weight: normal;
  line-height: 4.8rem;
  font-size: 4rem;

  color: rgba(0, 0, 0, 0.5);
}

hr {
  height: 0.3vw;
  width: 85%;
  border: 0;
  background: rgba(0, 0, 0, 0.1);

  margin-bottom: 4vw;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  margin: 10vw 4vw 2vw 4vw;
}

footer p {
  font-weight: normal;
  line-height: 3.6rem;
  font-size: 3rem;

  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  header ul {
    height: 9vw;
    margin: 2vw 5vw 14vw 5vw;
  }

  .logo img, .burger-menu img {
    width: 7vw;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin: 0 6vw 10vw 6vw;
  }

  .info p, h1 {
    text-align: left;
  }

  .info img {
    display: block;
    margin-top: -6vw;
  }

  .info a {
    margin: 0;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 5.4rem;
    text-align: left;
  }

  .advantages h1 {
    margin-left: 6vw;
  }

  .info p {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .info a {
    width: 18vw;
    height: 5vw;
    margin: 0;
    padding-top: 1.5vw;

    line-height: 3.6rem;
    font-size: 3rem;
    border-radius: 4px;
  }

  .advantages {
    display: flex;
    flex-direction: column;
  }

  .grid-advantages {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 48vw 48vw;
    grid-column-gap: 8em;
    grid-row-gap: 10em;

    margin-top: 0;
    margin-bottom: 10vw;
  }

  .fast, .reliably, .checked, .easy {
    width: 40vw;
    height: 48vw;
    margin-bottom: 0;
    padding-top: 3vw;
    border-radius: 5px;
  }

  .advantages h1 {
    display: block;
  }

  .advantages p {
    font-size: 2.5rem;
    line-height: 3rem;
    width: 25vw;
  }

  .reviews {
    display: grid;
    grid-template-columns: 42vw 42vw;
    grid-template-rows: 32vw 32vw;
    grid-column-gap: 5em;
    grid-row-gap: 5em;
  }

  .review-1, .review-2, .review-3 {
    border-radius: 5px;
    width: 42vw;
    height: 32vw;

    margin-bottom: 7vw;
  }

  .review h1 {
    margin-left: 6vw;
  }

  .review h3 {
    line-height: 3.6rem;
    font-size: 3rem;
    width: 38vw;
    margin-bottom: 5vw;
  }

  .review p {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .quote {
    width: 3.5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 3vw;
  }

  .person img {
    width: 3.5vw;
  }

  .price h1 {
    margin-left: 6vw;
  }

  .business {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .business h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 2.5vw;
    margin-top: 3vw;
  }

  .business p {
    font-size: 6rem;
    line-height: 5rem;
  }

  span {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .small-business, .serious-business {
    width: 46%;
    height: 68vw;
    border-radius: 5px;
  }

  .small-business ul, .serious-business ul {
    width: 30vw;
    margin-left: 7vw;
    margin-bottom: 6vw;
  }

  .small-business li, .serious-business li {
    line-height: 3rem;
    font-size: 2.5rem;
  }

  hr {
    width: 78%;
    height: 0.2vw;
  }

  .small-business button, .serious-business button {
    font-size: 2.5rem;
    line-height: 3rem;

    width: 40%;
    height: 6vw;
    border-radius: 5px;
  }

  footer p {
    line-height: 2.4rem;
    font-size: 2rem;
  }
}
